langchain
langchain-community
streamlit
python-dotenv
langserve
uvicorn
fastapi
sse-starlette
bs4
ipykernel
chromadb
pypdf
langchain-ollama
arxiv
langchainhub
wikipedia
langchain_groq
sentence-transformers
cassio
groq
beautifulsoup4
langchain_groq

